@CHARSET "ISO-8859-1";

#dialog-form {
	display: none;
}

#dialog-formFullInformatiion {
	display: none;
}

Body {
	font-size: 11px;
}

.button_n {
	float: right;
	height: 100px;
	margin: 20px;
	
}

.bar {
	height: 18px;
	
	background: green;
}
</style>
